/HttpEchoApplet/build/
/HttpEchoWebApp/build/
/HttpEchoApplet/dist/
/ChatWebApplet/nbproject/private/
/ChatWebApp/nbproject/private/
/ServletPushesToAppletAppletAlt/nbproject/private/
/ServletPushesToAppletWebAppAlt/nbproject/private/